/* $Id$ */

/* Theme hook simplerdf_mappings_table */
table.simplerdf-mappings-table .simplerdf-mapper {
  padding: 0.6em inherit;
}


/* Theme hook simplerdf_namespaces_table */
table.simplerdf-namespaces-table {
  width: 100%;
}


/* simplerdf_namespaces styles */
table.simplerdf-namespaces-admin-list {
  width: 100%;
  margin: 15px 0;
}
table.simplerdf-namespaces-admin-list .empty {
  font-style: italic;
}


/* Node URI styles */
a.simplerdf-nodeuri-settings-link {
  margin-left: 0.4em;
}


/* Generic styles */
#simplerdf-changed-message {
  display: none;
  margin: 1em 0;
}
#simplerdf-changed-message.changed {
  display: block;
}
